<!-- templates/dictionary/favorites.html -->
{% extends 'dictionary/base.html' %}

{% block content %}
    <h2 style="text-align: center; color: #d1d4d7; font-weight: 700; margin-bottom: 30px;">Избранное</h2>

    <!-- Избранные наборы -->
    <h3 style="color: #d1d4d7; font-weight: 500; margin-top: 30px;">Избранные наборы:</h3>
    <div class="terms-list" style="display: flex; flex-direction: column; gap: 20px;">
        {% for card_set in card_sets %}
            <a href="{% url 'flashcards' %}?card_set={{ card_set.id }}" style="text-decoration: none; color: inherit;">
                <div class="term-card" style="background-color: #1f222b; padding: 20px; border-radius: 10px; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); transition: transform 0.2s; cursor: pointer;">
                    <h3 style="margin: 0 0 10px; color: #d1d4d7; font-weight: 500;">{{ card_set.name }}</h3>
                    <p style="margin: 0; color: #a1a5aa;">Теги: {% for tag in card_set.tags.all %}{{ tag.name }}{% if not forloop.last %}, {% endif %}{% empty %}Нет тегов{% endfor %}</p>
                    <a href="{% url 'remove_cardset_from_favorites' card_set.id %}?next=favorites" class="favorite-icon favorited">
                        <i class="fas fa-heart"></i>
                    </a>
                </div>
            </a>
        {% empty %}
            <p style="text-align: center; color: #a1a5aa; font-size: 18px;">У вас нет избранных наборов.</p>
        {% endfor %}
    </div>

    <!-- Избранные слова -->
    <h3 style="color: #d1d4d7; font-weight: 500; margin-top: 30px;">Избранные слова:</h3>
    <div class="terms-list" style="display: flex; flex-direction: column; gap: 20px;">
        {% for entry in entries %}
            <a href="{% url 'entry_detail' entry.eng_term %}" style="text-decoration: none; color: inherit;">
                <div class="term-card" style="background-color: #1f222b; padding: 20px; border-radius: 10px; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); transition: transform 0.2s; cursor: pointer;">
                    <h3 style="margin: 0 0 10px; color: #d1d4d7; font-weight: 500;">{{ entry.eng_term }}</h3>
                    <p style="margin: 0; color: #a1a5aa;">{{ entry.rus_term }}</p>
                    <a href="{% url 'remove_from_favorites' entry.eng_term %}?next=favorites" class="favorite-icon favorited">
                        <i class="fas fa-heart"></i>
                    </a>
                </div>
            </a>
        {% empty %}
            <p style="text-align: center; color: #a1a5aa; font-size: 18px;">У вас нет избранных терминов.</p>
        {% endfor %}
    </div>

    <style>
        .term-card:hover {
            transform: translateY(-5px);
        }
    </style>
{% endblock %}